<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis perspiciatis, deserunt magnam eveniet dolor corrupti neque perferendis eligendi voluptates, voluptatum quia explicabo! Culpa nemo voluptates necessitatibus tempora dolorum et error!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus alias id iusto fugiat distinctio explicabo impedit quod? In, nostrum nobis!</p>
    <a href="https://github.com/jSaucedoOjeda" class="btn btn-primary">jSaucedo</a>
</div>